.compBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.formBox {
    display: flex;
    flex-direction: column;
    width: 60vh;
}
.formTitle {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.labelText {
        color: var(--warmGray200);
        margin-bottom: 4px;
}
