.container {
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  display: flex;
}

.drawer {
  flex: 1.5;
}

.children {
  flex: 4;
  background-color: var(--warmGray900);
  border-right: 0.25px solid var(--gray400);
}

.friends {
  flex: 1;
}
